<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haier.cabinet.customer">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <permission
        android:name="com.haier.cabinet.customer.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.haier.cabinet.customer.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.haier.cabinet.customer.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".PushApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5536517e67e58e50a1003512" />

        <!-- 百度更新开始 -->
        <meta-data
            android:name="BDAPPID"
            android:value="6098317" />
        <meta-data
            android:name="BDAPPKEY"
            android:value="2FpBYBCMUYp92WGqUwwWc2ukv8GHxXQq" />

        <!-- ↓↓↓ 百度移动统计SDK ↓↓↓ -->
        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为true -->

        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />

        <!-- 百度更新结束 -->
        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="E3TurU8VSXaLwW5wGs8KDjdw" />
        <!-- 开屏页 -->
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/Theme.AppStartLoadTranslucent"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainUIActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserLoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ModifyUserPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetUserPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ModifyUserNickNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PackageBoxDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HandleScanResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShopDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VASProductDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CheckoutCounterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChooseAddressListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserAddressListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserAddressAddActvity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CityListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CitiesSetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".activity.EvaluationServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".activity.UserOrderListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FragmentDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommonListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".push.PushMsgListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.haier.qr.code.CaptureCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.CommonWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.LocalWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaySuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProducerSupplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlaceOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SpecialityDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ServerCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CategorizeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SortResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExplainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VASPlaceOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LogisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserCouponsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhotoAlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhotoGalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ImagePagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialog" />

        <!-- Umeng社会化分享开始 -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104495665" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Umeng社会化分享结束 -->


        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 百度定位 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="G9tTegGzGez9AG09uiGz82T4" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- alipay sdk end -->


        <!-- weixin alipay sdk begin -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoDisplay" />

        <receiver android:name=".receiver.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <!-- weixin alipay sdk end -->


        <!-- 百度移动统计SDK begin -->
        <activity
            android:name="com.baidu.autoupdatesdk.ConfirmDialoigActivity"
            android:exported="false"
            android:screenOrientation="sensor"
            android:theme="@style/bdp_update_dialog_style_fullscreen" />

        <receiver
            android:name="com.baidu.autoupdatesdk.receiver.BDBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.baidu.autoupdatesdk.ACTION_NEW_UPDATE" />
                <action android:name="com.baidu.autoupdatesdk.ACTION_DOWNLOAD_COMPLETE" />
                <action android:name="com.baidu.autoupdatesdk.ACTION_NEW_AS" />
                <action android:name="com.baidu.autoupdatesdk.ACTION_AS_DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <!-- 百度移动统计SDK end -->
        <activity android:name=".activity.SalesPromotionActivity" />

        <!-- 极光推送begin-->
        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false">
        </activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.haier.cabinet.customer" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>


        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.haier.cabinet.customer" />
            </intent-filter>

        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.haier.cabinet.customer" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>

        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".receiver.JPushReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.haier.cabinet.customer" />
            </intent-filter>
        </receiver>


        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="031b6d8e193ddedc02198b67" /> <!--  </>值来自开发者平台取得的AppKey-->

        <!-- 极光推送end -->

    </application>

</manifest>
